*{
    box-sizing: border-box;
}

header{
    padding:10px;
}

button{
    background-color: cyan;
    border : white;
    color :white;
    align-content: center;
    padding: 10px;
    margin: 10px;
    font-size: 8px;

}

sup{
    color: red;
}

a{
    text-decoration: none;
    padding: 5px;
    font-size: 10px;
    color: white;
}

hr{
    border-color: darkgoldenrod;
}

.mhead{
    margin: 2px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cla1{
    display: flex;
}

.rightgrid{
    font-size: 15px;
    font-weight: bold;
}

.cont{
    margin:10px;
}

.sub{
    color: grey;
    font-size: 10px;
}

#navp{
    text-align: right ;
}

#div1{
    background-image: url("Rdesk.jpg");
    height: 300px;

    color:white;
}

#hmain{
    text-align: center;
}

#mid{
    display: flex;
    margin: 10px;
}

#head1{
    font-family: sans-serif;
    font-weight: bolder;
}

#bottom{
    margin: 20px;
    padding: 10px;
    background-color: cyan;
    color: white;
}
