*{
    box-sizing: border-box;
}

header{
    padding:10px;
}

sup{
    color: red;
}

a{
    text-decoration: none;
    padding: 5px;
}

.cla1{
    display: flex;
}

.leftgrid{
    text-decoration: rgb(10, 9, 10) ;
}

.cont{
    margin:10px;
}

.sub{
    color: grey;
}

#navp{
    text-align: right ;
}

#div1{
    background-image: url("desk.jpg");
    color:white;
}

#hmain{
    text-align: center;
}

#mid{
    display: grid;
}

#bottom{
    margin: 20px;
    padding: 10px;
    background-color: cyan;
    color: white;
}
